body {
    font-family: 'Montserrat', sans-serif;
}

h2 {
    color: #3046C5;
}

.carousel-caption h2 {
    color: white;
    text-transform: uppercase;
}

.carousel-caption{
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
}

header h2 {
    color: #CEC8FF;
}

#main {
    background-color: #E4EAF2;
}

section {
    margin-top: 10px;
    margin-bottom: 10px;
}

.heading {
    position: relative;
}
  
.textBox {
    position: absolute;
    top: 30px;
    left: 20px;
    background-color: #e4eaf298;
    color: #1e3e59;
    padding: 20px;
    border-radius: 15px;
    border: 2px solid #1E3E59;
    text-align: center;
    
}

.sec_01 h5 {
    border: 1px solid black;
    padding: 10px 20px; 
    width: fit-content;
    border-radius: 5px;
    color: white;
    text-transform: uppercase;
    
}

.sec_01 p {
    border: 1px solid black;
    padding: 10px 20px; 
    width: fit-content;
    border-radius: 10px;
}

.site-footer {
    background-color: #1e3e59;
    color: #E4EAF2;
    padding: 20px 0;
}

.nav_secondary {
background-color: #1E3E59;
color: white;
}

.navbar {
   background-color: #E4EAF2;
   color: black;
}



/* Footer */
.footer {
    background: #152F4F;
    color:white;
}

.links ul {
    list-style-type: none;
}

.links li a {
        color: white;
        transition: color .2s;
        text-decoration:none;
}      

.links li a:hover {
          text-decoration:none;
          color:#4180CB;
}

.about-company i {
    font-size: 25px;
}
      
.about-company a {
        color:white;
        transition: color .2s;
}

 .about-company:hover {
     color:#4180CB
}
 
.location i {
    font-size: 18px;
}

.copyright p {
    border-top:1px solid rgba(255,255,255,.1);
} 

/* Contact Us */
form {
    padding: 20px;
    border: 1px solid darkblue;
    border-radius: 25px;
    background-color: #e4eaf2;
}

.contactlogo {
    border-radius: 25px;

}
